/**
 * index.scss
 * - Add any styles you want here!
 */

html,
body {
  color: #000000;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #fbfbfb;
}

a {
  -webkit-tap-highlight-color: transparent;
  color: #2ab380;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #208a62;
}

a.anchor {
  display: block;
  position: relative;
  top: -108px;
  visibility: hidden;
}


// 酷炫滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
  margin: -2px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  min-height: 150px;
  min-width: 150px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #555555
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555555
}

// placeholder

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}